.fm-border-left-warning{
    border-left-width: 10px !important;
    border-left-color: #E3A43B !important;
}

.fm-border-left-blue{
    border-left-width: 10px !important;
    border-left-color: #0683E6 !important;
}
.fm-border-left-redrose{
    border-left-width: 10px !important;
    border-left-color: #d64541 !important;
}
.fm-border-left-teal{
    border-left-width: 10px !important;
    border-left-color: #51B7AB !important;
}
.fm-border-left-green{
    border-left-width: 10px !important;
    border-left-color: #2ecc71 !important;
}
.fm-border-left-fb{
    border-left-width: 10px !important;
    border-left-color: #4267B2 !important;
}

/**For container charts**/
.fm-chart-ws{
    min-width: 400px !important;
}
/**For container charts**/


